body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #688A08;
}

.quem-somos {
    background-color:rgb(140, 140, 226);

}

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

